 .box-yellow {
   width: 23px;
   height: 23px;
   background-color: #FFECBB;
   margin-right: 10px;
 }

 .First-block {
   display: flex;
   align-items: center;

 }

 .blue {
   width: 23px;
   height: 23px;
   background: #84CEF9;
   margin-right: 10px;
 }

 .second-name {
   display: flex;
   align-items: center;
 }

 .third_name {
   display: flex;
   align-items: center;
 }

 .purple {
   background: #E7C1F9;
   width: 23px;
   height: 23px;
   margin-right: 10px;
 }

 .yellow-house {
   width: 226px;
   height: 337px;
   position: relative;
   background-color: #FFECBB;
 }

 .yellow-house-window1 {
   position: absolute;
   width: 55px;
   height: 56px;
   left: 31px;
   top: 32px;

   background: #E7C1F9;
 }

 .yellow-house-window2 {
   position: absolute;
   width: 55px;
   height: 56px;

   right: 26px;
   top: 119px;

   background: #E7C1F9;
 }

 .yellow-house-window3 {
   position: absolute;
   width: 55px;
   height: 56px;

   left: 37px;
   bottom: 113px;


   background: #E7C1F9;
 }

 .blue-door {
   position: absolute;
   width: 57px;
   height: 81px;
   left: 126px;
   top: 256px;

   background: #84CEF9;
 }
 

 .purple-house {
   width: 217px;
   height: 380px;
   background: #E7C1F9;
   position: relative;

 }

 .blue-house-window1 {
   position: absolute;
   width: 46px;
   height: 47px;
   left: 23px;
   top: 43px;
   background: #84CEF9;
 }

 .blue-house-window2 {
   position: absolute;
   width: 46px;
   height: 47px;
   left: 114px;
   top: 43px;
   background: #84CEF9;
 }

 .blue-house-window3 {
   position: absolute;
   width: 46px;
   height: 47px;
   left: 40px;
   top: 114px;
   background: #84CEF9;
 }


 .blue-house-window4 {
   position: absolute;
   width: 46px;
   height: 47px;
   left: 131px;
   top: 114px;
   background: #84CEF9;
 }

 .blue-house-window5 {
   position: absolute;
   width: 46px;
   height: 47px;
   left: 31px;
   top: 190px;
   background: #84CEF9;
 }

 .blue-house-window6 {
   position: absolute;
   width: 46px;
   height: 47px;
   left: 122px;
   top: 190px;
   background: #84CEF9;
 }
