<<<<<<< HEAD
.box-yellow {
    width: 23px;
    height: 23px;
    background-color: #FFECBB;
    margin-right: 10px;
}
.First-block {
    display: flex;
    align-items: center;
    
}
=======
<<<<<<< HEAD
.blue {
  width: 23px;
  height: 23px;
  background: #84CEF9;
  margin-right: 10px;
}
.second-name{
  display: flex;
  align-items: center;
}
=======
.third_name{
    display: flex;
    align-items: center;
}

.purple{
    background: #E7C1F9;
    width: 23px;
    height: 23px;
    margin-right: 10px;
}

>>>>>>> 25de5a002e917e8658b94ec85c21246fe79e28e5
>>>>>>> 3b1c272ba91941bf86140ed68ea4a791f0b36b7b
