 
.box-yellow {
    width: 23px;
    height: 23px;
    background-color: #FFECBB;
    margin-right: 10px;
}
.First-block {
    display: flex;
    align-items: center;
    
}
.blue {
  width: 23px;
  height: 23px;
  background: #84CEF9;
  margin-right: 10px;
}
.second-name{
  display: flex;
  align-items: center;
}
.third_name{
    display: flex;
    align-items: center;
}

.purple{
    background: #E7C1F9;
    width: 23px;
    height: 23px;
    margin-right: 10px;
}
.yellow-house {
    width: 226px;
    height: 337px;
    position: relative;
    background-color: #FFECBB;
}

